@model MiniCrm.Web.Models.Customer.CustomerSearchModel
@{
    ViewData["Title"] = "Search Customers";
}

    <form method="post" asp-action="Search">
        <label asp-for="Search.Name"></label>
        <input asp-for="Search.Name" />

        <label asp-for="Search.Email"></label>
        <input asp-for="Search.Email" />
        <input type="submit" value="Search" />
    </form>

<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Results)
        {
            <tr>
                <td>@customer.Name</td>
            </tr>
        }
    </tbody>
</table>